<h1>School Class Form </h1>
<%= form_for(@school_class) do |form| %>
  <label>Title:</label><br>
  <%= form.text_field :title %><br>

  <label>Room Number:</label><br>
  <%= form.number_field :room_number %><br>

  <%= form.submit %>
<% end %> 